---
---

@import "{{ site.theme }}";

.wrapper {
  width: 100%; //1060px;;
  margin: 0 auto;
}

header {
  left: 3%;
  max-width: 25%;
  max-height: 20%;
  float: left;
  position: fixed;
  padding: 0px;
  //background: #402727;
}

//
// footer
//
footer {
  max-width: 25%;
  max-height: 15%;
  float: left;
  left: 3%;
  position: fixed;
  bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
footer::-webkit-scrollbar {
  display: none;
}

//
// README
//
section {
  width: 70%;
  float: right;
  padding-bottom: 50px;
}

// make code smaller
code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
    Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 11px;
}

//
// modify TOC
//
#my_toc {
  font-size: 10px;
  max-height: 60%;
  max-width: 25%;
  padding: 5px;
  //background: #e5e5e5;
  float: left;
  position: fixed;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  left: 3%;
  top: 40%;
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: nowrap;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#my_toc::-webkit-scrollbar {
  display: none;
}

.sidebar_right {
  float: left;
}
