---
---

@import "{{ site.theme }}";

.mytitle {
  color: red;
}

.wrapper {
  width: 100%; //1060px;;
  margin: 0 auto;
}

header {
  left: 3%;
  max-width: 20%;
  max-height: 20%;
  float: left;
  position: fixed;
  //background: #402727;
}

header ul {
  /*
  list-style-type: none;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  max-width: 100%;
  max-height: 40%;
  background: #e5e5e5;
  position: relative;
  margin-left: 5px;
  float: right;
  contain: layout;
  width: 15%;*/
}

header li {
  /*width: 5%;
  float: left;
  border-right: 1px solid #e0e0e0;
  height: 40px;*/
}

header ul li + li {
  /*
  border-right: none;
  width: 15%;*/
}

footer {
  max-width: 20%;
  max-height: 10%;
  float: left;
  left: 3%;
  position: fixed;
  bottom: 20px;
  -webkit-font-smoothing: subpixel-antialiased;
}

section {
  width: 75%;
  float: right;
  padding-bottom: 50px;
}

// make code smaller
code {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
    Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 11px;
}

// modify TOC
#my_toc {
  font-size: 10px;
  max-height: 60%;
  max-width: 20%;
  padding: 5px;
  //background: #e5e5e5;
  float: left;
  position: fixed;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  left: 3%;
  top: 40%;
  -webkit-font-smoothing: subpixel-antialiased;
  white-space: nowrap;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#my_toc::-webkit-scrollbar {
  display: none;
}

#my_toc.inline_toc {
}

.sidebar_right {
  float: left;
}
/*
.wrapper .mywrapper .sidebar {
  width: 20%; //1060px;;
  margin: 0 auto;
  float: left;
}

.wrapper .mycontent {
  width: 60%; //1060px;;
  float: right;
  padding-bottom: 50px;
}

.wrapper .myfooter {
  width: 30%; //1060px;;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  float: left;
}

*/
